[submodule "external/ROSS"]
	path = external/ROSS
	url = https://github.com/ROSS-org/ROSS
[submodule "data/models"]
	path = data/models
	url = https://github.com/helq/doryta-models
[submodule "data/experiments"]
	path = data/experiments
	url = https://github.com/helq/doryta-experiments
